<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<style type="text/css">
/*
div{color:#F69 ;
alignment-adjust:central;
font:"Courier New", Courier, monospace;
font-size:18px;

	}
*/
/* 类选择器，类选择器的样式是要优先于标签选择器的样式的。
ID 选择器；使用ID选择器首先要给html元素
ID选择器的优先级是最高的。属性不能以数字开头
   */
.two{
	background-color:#F99;
	color:#FFF;
	font-size:24px;
	}

</style>




<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>


<body>
	<div>this is a div label</div>
	<div class="two">this is two div label</div>
	<div class="two">this is THREE div label</div>


</body>
</html>
