<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>review</title>

<style type="text/css">
    input{
            background-repeat: no-repeat;
            padding-left: 28px;
            color: #FF99CC;
        border-color: #66FFCC;
    }
</style>


</head>



<body>

<div>
我是一块&nbsp&nbsp&nbsp标签。
</div>
<a href="页面2.html" target="_blank">跳转页面2</a>
<!-- 表单的制作是必须要掌握的。-->
<form action="CSS.html" method="get" enctype="">
    NAME:<input type="text"/><br/>
    PASSWORD:<input type="password"/><br/>
    gender:<input type="radio" name="gender"/>male&nbsp<input type="radio" name="gender"/>male<br/>
    hobby:<input type="checkbox" name="hobby"/>basketball<br/>
          <input type="checkbox" name="hobby"/>soccer<br/>
           <input type="checkbox" name="hobby"/>badminton<br/>
    fileselect:<input type="file"/><br/>
    address:<select>
                <option>shanghai</option><br/>
                <option>beijing</option><br/>
                <option>guangzhou</option><br/>
            </select><br/>
    introduction:<textarea rows="7" cols="8"></textarea><br/>

    <input type="submit"/>submit <input type="reset">reset<br/>

</form>











</body>
</html>
