<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<table align="center" border="1" bordercolor="#0033CC" width="400px" height="300">
<caption>期末考试表</caption>
<tr align="center">
     <th>姓名</th>
     <th>分数</th>
     <th>人品</th>
</tr>

<tr>
    <td>Tom</td>
    <td>90</td>
    <td>60</td>
</tr>

<tr align="center">
    <td>Bob</td>
    <td>70</td>
    <td>90</td>
</tr>

<tr>
	<td>综合测评</td>
	<td colspan="2">非常好</td>
</tr>

</table>







<body>
</body>
</html>
