<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">

body{
	
background-color:#FCC;
background-image:url(1.jpg);
background-repeat:no-repeat;
background-position:500px;/* 设置图片的位置  */
/*  操作文本的方式 */
}
div{
	color:#93C;
	font-size:36px;
	letter-spacing:10px;
	text-decoration:line-through;
	text-transform:uppercase;
	
	
	
	}


</style>



<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>



<body>
<div>hello html hello heml</div>



</body>
</html>
