<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
div{
	
	border-color:#C99;
	padding-left:10px;
	padding-top:20px;
	margin:60px;
	margin-top:200px;
	margin-left:100px;
	
	}
/*      主要是用于操作外边距和内边距的。                       */
.row1{
	background-color:#6FC;}

.row2{
	background-color:#C9C;
	
	}


</style>



<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
	<div class="outer">
    
    <table align="center" bordercolor="#FFCCCC" width="400" height="230px">
	<tr class="row1">
    	<td width="170px">UserName</td>
    	<td> <input type="text" name="username"/>   </td>
    </tr>
    
	<tr class="row2">
    	<td>Password</td>
    	<td> <input type="password"/>   </td>
    </tr>

	
    
     <tr>
    	<td ></td>
    	<td> <input type="submit" value="登录"/> </td>
        	
        
        </td6>
    </tr>
</table>
</form>

    </div>
</body>
</html>
