<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<!--   表单标签 非常重要必须掌握-->
<body>
<form action="http:\\www.baidu.com">
<table align="center" bordercolor="#FFCCCC" width="480" height="430px">
	<tr>
    	<td width="170px"><font color="#FF9966">UserName</font></td>
    	<td> <input type="text" name="username"/>   </td>
    </tr>
    
	<tr>
    	<td><font color="#FF9966">Password</font></td>
    	<td> <input type="password"/>   </td>
    </tr>

	<tr>
    	<td>Sex</td>
    	<td> male<input type="radio" name = "sex"/>  female<input type="radio" name = "sex"/>  </td>
    </tr>

	<tr>
    	<td>Hobby</td>
    	<td> basketball<input type="checkbox" /> soccer<input type="checkbox" /> badminton<input type="checkbox"  />  </td>
    </tr>
    
    <tr>
    	<td>From which city</td>
    	<td> 
        	<select>
            	<option>shanghai</option>
                <option>beijing</option>
                <option>guangzhou</option>
        	</select>
        
        </td>
    </tr>
    
    <tr>
    	<td >Image</td>
    	<td> <input type="file"/>   </td>
    </tr>
   
     <tr>
    	<td >Introduction</td>
    	<td> <textarea rows="4" cols="18">      </textarea> </td>      
    </tr>
    
     <tr>
    	<td ></td>
    	<td> <input type="submit" value="Submit"/> 
        	 <input type="reset" value="Reset"/> 
        
        </td>
    </tr>
  







</table>
</form>




</body>
</html>
