<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>json测试</title>
    <style type="text/css">

    </style>

</head>

<body>

<script type="text/javascript">
    var json = {
        "msg": "获取数据成功！",
        "data": [{
            "CHNLNAME": "信息发布",
            "IMG": null,
            "PARENTNAME": null,
            "CHNLCODE": 162643,
            "LEVEL": "1",
            "PARENTCODE": "1016-1001",
            "ISRECOMM": 0,
            "secMenu": [{
                "CHNLNAME": "新闻公告",
                "IMG": "PORTAL_xnYqjI20171031.png",
                "CHNLCODE": 565224,
                "LEVEL": "2",
                "PARENTCODE": "162643",
                "ISRECOMM": 0,
                "URL": "/news/"
            }, {
                "CHNLNAME": "班车查询",
                "IMG": "PORTAL_KqeLtM20171103.png",
                "CHNLCODE": 60255,
                "LEVEL": "2",
                "PARENTCODE": "162643",
                "ISRECOMM": 0,
                "URL": "/bus"
            }, {
                "CHNLNAME": "MCC码查询",
                "IMG": "PORTAL_YFPDrA20171031.png",
                "CHNLCODE": 579060,
                "LEVEL": "2",
                "PARENTCODE": "162643",
                "ISRECOMM": 1,
                "URL": "/mcc"
            }, {
                "CHNLNAME": "酒店查询",
                "IMG": "PORTAL_JoLX7t20171031.png",
                "CHNLCODE": 116729,
                "LEVEL": "2",
                "PARENTCODE": "162643",
                "ISRECOMM": 1,
                "URL": "/hotel/"
            }, {
                "CHNLNAME": "日程管理",
                "IMG": "PORTAL_VRtQxe20171031.png",
                "CHNLCODE": 491353,
                "LEVEL": "2",
                "PARENTCODE": "162643",
                "ISRECOMM": 1,
                "URL": "/mySchedule/"
            }],
            "URL": null
        }, {
            "CHNLNAME": "人事管理",
            "IMG": null,
            "PARENTNAME": null,
            "CHNLCODE": 880006,
            "LEVEL": "1",
            "PARENTCODE": "1016-1001",
            "ISRECOMM": 0,
            "secMenu": [{
                "CHNLNAME": "考勤签到",
                "IMG": "PORTAL_0NbwG720171016.png",
                "CHNLCODE": 541165,
                "LEVEL": "2",
                "PARENTCODE": "880006",
                "ISRECOMM": 0,
                "URL": "www"
            }, {
                "CHNLNAME": "薪酬查询",
                "IMG": "PORTAL_uETJ4v20171019.png",
                "CHNLCODE": 166807,
                "LEVEL": "2",
                "PARENTCODE": "880006",
                "ISRECOMM": 0,
                "URL": "www"
            }, {
                "CHNLNAME": "查工资",
                "IMG": "PORTAL_ttLfTF20171031.png",
                "CHNLCODE": 855824,
                "LEVEL": "2",
                "PARENTCODE": "880006",
                "ISRECOMM": 0,
                "URL": "www"
            }, {
                "CHNLNAME": "绩效确认",
                "IMG": "PORTAL_gCUqAj20171031.png",
                "CHNLCODE": 345573,
                "LEVEL": "2",
                "PARENTCODE": "880006",
                "ISRECOMM": 0,
                "URL": "www"
            }, {
                "CHNLNAME": "请休假",
                "IMG": "PORTAL_BNccam20171031.png",
                "CHNLCODE": 433918,
                "LEVEL": "2",
                "PARENTCODE": "880006",
                "ISRECOMM": 0,
                "URL": "/myHoliday/"
            }],
            "URL": null
        }, {
            "CHNLNAME": "行政管理",
            "IMG": null,
            "PARENTNAME": null,
            "CHNLCODE": 764930,
            "LEVEL": "1",
            "PARENTCODE": "1016-1001",
            "ISRECOMM": 0,
            "secMenu": [{
                "CHNLNAME": "出差备案",
                "IMG": "PORTAL_IZ8dzt20171016.png",
                "CHNLCODE": 322037,
                "LEVEL": "2",
                "PARENTCODE": "764930",
                "ISRECOMM": 0,
                "URL": "/record"
            }],
            "URL": null
        }, {
            "CHNLNAME": "办公服务",
            "IMG": null,
            "PARENTNAME": null,
            "CHNLCODE": 409760,
            "LEVEL": "1",
            "PARENTCODE": "1016-1001",
            "ISRECOMM": 0,
            "secMenu": [{
                "CHNLNAME": "会议室预订",
                "IMG": "PORTAL_RknWSP20171031.png",
                "CHNLCODE": 662770,
                "LEVEL": "2",
                "PARENTCODE": "409760",
                "ISRECOMM": 0,
                "URL": "/appointment/"
            }, {
                "CHNLNAME": "未接来电",
                "IMG": "PORTAL_E1zoL920171031.png",
                "CHNLCODE": 310254,
                "LEVEL": "2",
                "PARENTCODE": "409760",
                "ISRECOMM": 0,
                "URL": "/missedCall"
            }],
            "URL": null
        }, {
            "CHNLNAME": "员工服务",
            "IMG": null,
            "PARENTNAME": null,
            "CHNLCODE": 755247,
            "LEVEL": "1",
            "PARENTCODE": "1016-1001",
            "ISRECOMM": 0,
            "secMenu": [{
                "CHNLNAME": "智能开票",
                "IMG": "PORTAL_3eqoM620171031.png",
                "CHNLCODE": 347354,
                "LEVEL": "2",
                "PARENTCODE": "755247",
                "ISRECOMM": 0,
                "URL": "/invoice/"
            }],
            "URL": null
        }, {
            "CHNLNAME": "智能报表",
            "IMG": null,
            "PARENTNAME": null,
            "CHNLCODE": 77187,
            "LEVEL": "1",
            "PARENTCODE": "1016-1001",
            "ISRECOMM": 0,
            "secMenu": [{
                "CHNLNAME": "考勤报表",
                "IMG": "PORTAL_jfxmxG20171031.png",
                "CHNLCODE": 563360,
                "LEVEL": "2",
                "PARENTCODE": "77187",
                "ISRECOMM": 1,
                "URL": "/intelligent/"
            }],
            "URL": null
        }],
        "status": "successs"
    }


</script>


</body>
</html>
