<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>json测试</title>
  <!--借此机会把json格式好好地搞清楚，json这个知识点再次学习加深一下。 -->

</head>

<body>
      <script type="text/javascript">

     var json2 =
     {
         "body": {
         "font": "m",
             "content": "休假日期:2016-08-01 <br>休假天数： 5天<br>休假类型： 年假",
             "color": "#888888"
     },
         "title": {
         "font": "l",
             "content": "王丹的请假需要您审批",
             "color": "#2D2D2D"
     },
         "cover": "",
         "status": {"text": {
         "font": "m",
             "content": "已同意",
             "color": "#21D327"
     },
         "btns": [{
             "font": "m",
             "color": "#0ABEF5",
             "name": "拒绝",
             "type": "click",
             "url": "upchat-test-disagree"
         }, {
             "font": "m",
             "color": "#0ABEF5",
             "name": "同意",
             "type": "click",
             "url": "upchat-test-agree"
         }],
             "type": "2"
     },
         "styles": {
         "bgColor": "#fff",
             "statusBtnsVertical": "0"
     },
         "url": "http://upchat.95516.net"
     }


      </script>





</body>
</html>
