<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>json测试</title>
  <!--借此机会把json格式好好地搞清楚，json这个知识点再次学习加深一下。 -->

</head>

<body>
      <script type="text/javascript">


     var json1 = {
         "body": {
             "font": "m",
             "content": "7月19号请假一天 \n 请假原因：事假",
             "color": "#0ABEF5"
         },
         "title": {
             "font": "l",
             "content": "陈鑫的请假需要您审批",
             "color": "#FF69B4"
         },
         "cover": "",
         "status": {"text": {
             "font": "m",
             "content": "未审批",
             "color": "#FF0000"
         },
             "btns": [{
                 "font": "m",
                 "color": "#0ABEF5",
                 "name": "拒绝",
                 "type": "click",
                 "url": "upchat-test-disagree"
             }, {
                 "font": "m",
                 "color": "#0ABEF5",
                 "name": "同意",
                 "type": "click",
                 "url": "upchat-test-agree"
             }],
             "type": "2"
         },
         "styles": {
             "bgColor": "#fff",
             "statusBtnsVertical": "0"
         },
         "url": "http://upchat.95516.net"
     }



     var json2 =
     {
         "referedMsgId": "35811d12-91b7-4ff2-a083-49e5d90699ea",
         "status": {
         "text": {
             "font": "m",
                 "content": "已同意",
                 "color": "#21D327"
         },
         "btns": [{
             "font": "m",
             "color": "#0ABEF5",
             "name": "拒绝",
             "type": "click",
             "url": "upchat-test-disagree"
         }, {
             "font": "m",
             "color": "#0ABEF5",
             "name": "同意",
             "type": "click",
             "url": "upchat-test-agree"
         }],
             "type": "2"
     },
         "styles": {
         "bgColor": "#fff"
     }
     }







      </script>





</body>
</html>
