<!DOCTYPE html>
<!--
1、layui 和 jquery有冲突，需要使用layui内置的jquery比较好
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{lib/css/main.css}" href="../../static/lib/css/main.css">
    <link rel="stylesheet" th:href="@{/lib/css/public.css}" href="../../static/lib/css/public.css">
    <!--<script th:src="@{/layui/layui.all.js}" src="../static/layui/layui.all.js"></script>-->
    <script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
    <script th:src="@{/lib/js/jquery-3.4.1.min.js}" src="../../static/lib/js/jquery-3.4.1.min.js"></script>
</head>
<body id="body">
<form class="layui-form" action="/stu/save" method="post" enctype="application/x-www-form-urlencoded">
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" name="realName" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="text" name="age" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="1" title="男">
            <input type="radio" name="sex" value="2" title="女" checked>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码框</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>

    <div class="layui-input-inline">
        <label class="layui-form-label">职位选择</label>
        <select name="province" lay-filter="applyPosition" id="applyPosition">
            <option value="">请选择职位</option>
            <option value="浙江" selected="">浙江省</option>
            <option value="你的工号">江西省</option>
            <option value="你最喜欢的老师">福建省</option>
        </select>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联动选择框</label>
        <div class="layui-input-inline">
            <select name="province" lay-filter="province" id="province">
                <option value="">请选择省</option>
                <option value="浙江" selected="">浙江省</option>
                <option value="你的工号">江西省</option>
                <option value="你最喜欢的老师">福建省</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="city" id="city" lay-filter="city">
                <option value="">请选择市</option>
                <option value="杭州">杭州</option>
                <option value="宁波" disabled="">宁波</option>
                <option value="温州">温州</option>
                <option value="温州">台州</option>
                <option value="温州">绍兴</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="area" id="area" >
                <option value="">请选择县/区</option>
                <option value="西湖区">西湖区</option>
                <option value="余杭区">余杭区</option>
                <option value="拱墅区">临安市</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">此处只是演示联动排版，并未做联动交互</div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['form','layer','element'], function () {
        var form = layui.form;
        var layer = layui.layer;
        form.on('select(province)',function (data) {
            showCity(data.value);
            form.render();
        });
        form.on('select(city)',function (data) {
            showArea(data.value);
            form.render();
        })
    });


    var src2 = '';
    $.ajax({
        url: 'http://localhost:8081/th/deploy',
        type: 'get',
        dataType: 'json',
        success: function (data) {
            $.each(data, function (index, item) {
                src2 += '<input type="checkbox" name="thing" value="' + item.id + '" title="' + item.name + '">';
            });
            $('#currency2').html(src2);
        }
    });
    // 省的数据
    var province = '';
    $.ajax({
        url: 'http://localhost:8081/tree/province',
        type: 'get',
        dataType: 'json',
        success: function (data) {
            $.each(data, function (index, item) {
                province += '<option value="' + item.id + '">' + item.title + '</option>';
            });
            $('#province').html(province);
        }
    });

//    城市数据
    function showCity(provinceId) {
        // 数据
        var city = '';
        $.ajax({
            url: 'http://localhost:8081/tree/city?provinceId='+provinceId+'',
            type: 'get',
            dataType: 'json',
            async: false ,
            success: function (data) {
                // alert('原始数据'+data);
                $.each(data, function (index, item) {
                    city += '<option value="' + item.id + '">' + item.title + '</option>';
                });
                $('#city').empty();
                $('#area').empty();
                $('#city').html(city);
            }
        });
    }

    //    城市数据
    function showArea(cityId) {
        var area = '';
        $.ajax({
            url: 'http://localhost:8081/tree/area?cityId='+cityId+'',
            type: 'get',
            dataType: 'json',
            async: false ,
            success: function (data) {
                // alert('原始数据'+data);
                $.each(data, function (index, item) {
                    area += '<option value="' + item.id + '">' + item.title + '</option>';
                });
                $('#area').empty();
                $('#area').html(area);
            }
        });
    }

</script>

</body>
</html>