<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="ArrayTool.js">
        //引入外部的js文件用的时候比较的舒服。
    </script>

    <script type="text/javascript">
        var arr = [10,1,8,3];
         var max = tool.getMax(arr);
        var index = tool.searchEle(arr,100);
      document.write(max+"<br/>");
      document.write(index+"<br/>");

    </script>


</head>

<body>
<br>
<a href="http://www.baidu.com">baidu</a>
<h1>这是大标题</h1>
</body>
</html>



